/*	File:		NTK REx.config	Contains:	Built-in ROM Extension definition.	Written by:	Newton Research Group.	This file should be processed with the Rex MPW tool.	Make sure it has Macintosh line endings before invoking Rex.	Rex -o Newton.rex NTKREx.config*/manufacturer	'nrg'			// Newton Research Groupversion			1				// gotta start somewhereid					0				// built-instart				0x10000000RAMAllocation	{ min       0 max       0 percent  0 }	// user storeRAMAllocation	{ min 2090000 max 2097152 percent 50 }	// frames heapRAMAllocation	{ min   98304 max 1048576 percent 25 }	// ROM Domain Manager (RDM) cache