/*
	File:		REx.config

	Contains:	Built-in ROM Extension definition.

	Written by:	Newton Research Group.

	This file should be processed with the Rex command-line tool:
	Rex -o Newton.rex REx.config
*/

manufacturer	'nrg'			// Newton Research Group
version			1				// gotta start somewhere
id					0				// built-in
start				0x10000000

RAMAllocation	{ min     0 max       0 percent  0 }	//1: user store
RAMAllocation	{ min 98304 max  250000 percent 20 }	//2: frames heap
RAMAllocation	{ min 98304 max 1048576 percent 50 }	//3: ROM Domain Manager (RDM) cache

// Cardfile app
package			"RExPackages/Package-1.newtonpkg"
// Connection app
//package			"RExPackages/Package-2.newtonpkg"
//	FaxViewer app
//package			"RExPackages/Package-3.newtonpkg"
//	Formulas app
//package			"RExPackages/Package-4.newtonpkg"
//	Help book
//package			"RExPackages/Package-5.newtonpkg"
//	ListView
//package			"RExPackages/Package-6.newtonpkg"
//	TScreenMemory:TReservedContiguousMemory protocol
//package			"RExPackages/Package-7.newtonpkg"
//	TMainDisplayDriver:TScreenDriver protocol
//package			"RExPackages/Package-8.newtonpkg"
//	Setup app
//package			"RExPackages/Package-9.newtonpkg"
//	WorldData
//package			"RExPackages/Package-10.newtonpkg"
